<nav class="header-navbar navbar-expand-md navbar navbar-with-menu navbar-without-dd-arrow navbar-static-top navbar-light navbar-brand-center">
    <div class="navbar-wrapper">
        <div class="navbar-header">
            <ul class="nav navbar-nav flex-row">
                <li class="nav-item mobile-menu d-md-none mr-auto">
                    <a class="nav-link nav-menu-main menu-toggle hidden-xs" href="#"><i
                        class="ft-menu font-large-1"></i>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="navbar-brand" href="index.html">
                        <img class="img-fluid" alt="modern admin logo" src="assets/images/logo/logo_brunsker.png" />
                    </a>
                </li>
                <li class="nav-item d-md-none">
                    <a class="nav-link open-navbar-container" data-toggle="collapse" data-target="#navbar-mobile"><i
                        class="la la-ellipsis-v"></i>
                    </a>
                </li>
            </ul>
        </div>
        <div class="navbar-container content">
            <div class="collapse navbar-collapse" id="navbar-mobile">
                <ul class="nav navbar-nav mr-auto float-left">
                    
                </ul>
                <ul class="nav navbar-nav float-right">
                    <li class="dropdown dropdown-user nav-item">
                        <a class="dropdown-toggle nav-link dropdown-user-link" href="#" data-toggle="dropdown"><span
                            class="mr-1 user-name text-bold-700">John Doe</span><span
                            class="avatar avatar-online"><img
                            src="assets/images/portrait/small/avatar-s-19.png"
                            alt="avatar" /><i></i></span></a>
                            <div class="dropdown-menu dropdown-menu-right">
                                <a class="dropdown-item" href="user-profile.html"><i class="ft-user"></i> Edit Profile</a><a
                                class="dropdown-item" href="app-email.html"><i class="ft-mail"></i> My Inbox</a><a
                                class="dropdown-item" href="user-cards.html"><i class="ft-check-square"></i> Task</a><a
                                class="dropdown-item" href="app-chat.html"><i class="ft-message-square"></i> Chats</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="login-with-bg-image.html"><i class="ft-power"></i> Logout</a>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>
    
    <div id="sticky-wrapper" class="sticky-wrapper" style="height: 72.6042px;">
        <div class="header-navbar navbar-expand-sm navbar navbar-horizontal navbar-fixed navbar-dark navbar-without-dd-arrow navbar-shadow navbar-brand-center"
        role="navigation" data-menu="menu-wrapper" data-nav="brand-center">
        <div class="navbar-container main-menu-content" data-menu="menu-container">
            <ul class="nav navbar-nav" id="main-menu-navigation" data-menu="menu-navigation">
                <li class="nav-item">
                    <a class="nav-link" href="index.html"><i class="la la-bank"></i><span>Support Dashboard</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="support-tickets.html">
                        <i class="la la-edit"></i><span>Tickets</span><span
                        class="badge badge badge-pill badge-warning float-right mt-0">4</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="support-ticket-detail.html"><i class="la la-credit-card"></i><span>Ticket
                            Detail</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="knowledge-base.html"><i class="la la-dollar"></i><span>Knowledge
                                Base</span></a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="faq.html"><i class="la la-money"></i><span>FAQ</span></a>
                            </li>
                            <li class="nav-item active">
                                <a class="nav-link" href="support-customers.html"><i class="la la-money"></i><span>Your
                                    Customers</span></a>
                                </li>
                                <li class="dropdown nav-item" data-menu="dropdown">
                                    <a class="dropdown-toggle nav-link" href="#" data-toggle="dropdown"><i
                                        class="la la-eye"></i><span>User Interface</span></a>
                                        <ul class="dropdown-menu">
                                            <li class="dropdown dropdown-submenu" data-menu="dropdown-submenu">
                                                <a class="dropdown-item dropdown-toggle" href="#" data-toggle="dropdown"><i
                                                    class="la la-tablet"></i><span>Cards</span></a>
                                                    <ul class="dropdown-menu">
                                                        <li data-menu="">
                                                            <a class="dropdown-item" href="card-bootstrap.html"
                                                            data-toggle=""><span>Bootstrap</span></a>
                                                        </li>
                                                        <li data-menu="">
                                                            <a class="dropdown-item" href="card-statistics.html"
                                                            data-toggle=""><span>Statistics</span></a>
                                                        </li>
                                                        <li data-menu="">
                                                            <a class="dropdown-item" href="card-charts.html"
                                                            data-toggle=""><span>Charts</span></a>
                                                        </li>
                                                    </ul>
                                                </li>
                                                <li class="dropdown dropdown-submenu" data-menu="dropdown-submenu">
                                                    <a class="dropdown-item dropdown-toggle" href="#" data-toggle="dropdown"><i
                                                        class="la la-server"></i><span>Components</span></a>
                                                        <ul class="dropdown-menu">
                                                            <li data-menu="">
                                                                <a class="dropdown-item" href="component-alerts.html"
                                                                data-toggle=""><span>Alerts</span></a>
                                                            </li>
                                                            <li data-menu="">
                                                                <a class="dropdown-item" href="component-callout.html"
                                                                data-toggle=""><span>Callout</span></a>
                                                            </li>
                                                            <li class="dropdown dropdown-submenu" data-menu="dropdown-submenu">
                                                                <a class="dropdown-item dropdown-toggle" href="#"
                                                                data-toggle="dropdown"><span>Buttons</span></a>
                                                                <ul class="dropdown-menu">
                                                                    <li data-menu="">
                                                                        <a class="dropdown-item" href="component-buttons-basic.html"
                                                                        data-toggle=""><span>Basic Buttons</span></a>
                                                                    </li>
                                                                    <li data-menu="">
                                                                        <a class="dropdown-item" href="component-buttons-extended.html"
                                                                        data-toggle=""><span>Extended Buttons</span></a>
                                                                    </li>
                                                                </ul>
                                                            </li>
                                                            <li data-menu="">
                                                                <a class="dropdown-item" href="component-carousel.html"
                                                                data-toggle=""><span>Carousel</span></a>
                                                            </li>
                                                            <li data-menu="">
                                                                <a class="dropdown-item" href="component-collapse.html"
                                                                data-toggle=""><span>Collapse</span></a>
                                                            </li>
                                                            <li data-menu="">
                                                                <a class="dropdown-item" href="component-dropdowns.html"
                                                                data-toggle=""><span>Dropdowns</span></a>
                                                            </li>
                                                            <li data-menu="">
                                                                <a class="dropdown-item" href="component-list-group.html" data-toggle=""><span>List
                                                                    Group</span></a>
                                                                </li>
                                                                <li data-menu="">
                                                                    <a class="dropdown-item" href="component-modals.html"
                                                                    data-toggle=""><span>Modals</span></a>
                                                                </li>
                                                                <li data-menu="">
                                                                    <a class="dropdown-item" href="component-pagination.html"
                                                                    data-toggle=""><span>Pagination</span></a>
                                                                </li>
                                                                <li data-menu="">
                                                                    <a class="dropdown-item" href="component-navs-component.html"
                                                                    data-toggle=""><span>Navs Component</span></a>
                                                                </li>
                                                                <li data-menu="">
                                                                    <a class="dropdown-item" href="component-tabs-component.html"
                                                                    data-toggle=""><span>Tabs Component</span></a>
                                                                </li>
                                                                <li data-menu="">
                                                                    <a class="dropdown-item" href="component-pills-component.html"
                                                                    data-toggle=""><span>Pills Component</span></a>
                                                                </li>
                                                                <li data-menu="">
                                                                    <a class="dropdown-item" href="component-tooltips.html"
                                                                    data-toggle=""><span>Tooltips</span></a>
                                                                </li>
                                                                <li data-menu="">
                                                                    <a class="dropdown-item" href="component-popovers.html"
                                                                    data-toggle=""><span>Popovers</span></a>
                                                                </li>
                                                                <li data-menu="">
                                                                    <a class="dropdown-item" href="component-badges.html"
                                                                    data-toggle=""><span>Badges</span></a>
                                                                </li>
                                                                <li data-menu="">
                                                                    <a class="dropdown-item" href="component-pill-badges.html" data-toggle=""><span>Pill
                                                                        Badges</span></a>
                                                                    </li>
                                                                    <li data-menu="">
                                                                        <a class="dropdown-item" href="component-progress.html"
                                                                        data-toggle=""><span>Progress</span></a>
                                                                    </li>
                                                                    <li data-menu="">
                                                                        <a class="dropdown-item" href="component-media-objects.html"
                                                                        data-toggle=""><span>Media Objects</span></a>
                                                                    </li>
                                                                    <li data-menu="">
                                                                        <a class="dropdown-item" href="component-scrollable.html"
                                                                        data-toggle=""><span>Scrollable</span></a>
                                                                    </li>
                                                                    <li data-menu="">
                                                                        <a class="dropdown-item" href="component-spinners.html"
                                                                        data-toggle=""><span>Spinners</span></a>
                                                                    </li>
                                                                </ul>
                                                            </li>
                                                            <li class="dropdown dropdown-submenu" data-menu="dropdown-submenu">
                                                                <a class="dropdown-item dropdown-toggle" href="#" data-toggle="dropdown"><i
                                                                    class="la la-unlock"></i><span>Authentication</span></a>
                                                                    <ul class="dropdown-menu">
                                                                        <li data-menu="">
                                                                            <a class="dropdown-item" href="login-with-bg-image.html"
                                                                            data-toggle=""><span>Login</span></a>
                                                                        </li>
                                                                        <li data-menu="">
                                                                            <a class="dropdown-item" href="register-with-bg-image.html"
                                                                            data-toggle=""><span>SignIn</span></a>
                                                                        </li>
                                                                        <li data-menu="">
                                                                            <a class="dropdown-item" href="recover-password.html" data-toggle=""><span>Forgot
                                                                                Password</span></a>
                                                                            </li>
                                                                        </ul>
                                                                    </li>
                                                                    <li class="dropdown dropdown-submenu" data-menu="dropdown-submenu">
                                                                        <a class="dropdown-item dropdown-toggle" href="#" data-toggle="dropdown"><i
                                                                            class="la la-file-text"></i><span>Form Layouts</span></a>
                                                                            <ul class="dropdown-menu">
                                                                                <li data-menu="">
                                                                                    <a class="dropdown-item" href="form-layout-basic.html" data-toggle=""><span>Basic
                                                                                        Forms</span></a>
                                                                                    </li>
                                                                                    <li data-menu="">
                                                                                        <a class="dropdown-item" href="form-layout-horizontal.html"
                                                                                        data-toggle=""><span>Horizontal Forms</span></a>
                                                                                    </li>
                                                                                    <li data-menu="">
                                                                                        <a class="dropdown-item" href="form-layout-hidden-labels.html"
                                                                                        data-toggle=""><span>Hidden Labels</span></a>
                                                                                    </li>
                                                                                    <li data-menu="">
                                                                                        <a class="dropdown-item" href="form-layout-form-actions.html"
                                                                                        data-toggle=""><span>Form Actions</span></a>
                                                                                    </li>
                                                                                    <li data-menu="">
                                                                                        <a class="dropdown-item" href="form-layout-row-separator.html"
                                                                                        data-toggle=""><span>Row Separator</span></a>
                                                                                    </li>
                                                                                    <li data-menu="">
                                                                                        <a class="dropdown-item" href="form-layout-bordered.html"
                                                                                        data-toggle=""><span>Bordered</span></a>
                                                                                    </li>
                                                                                    <li data-menu="">
                                                                                        <a class="dropdown-item" href="form-layout-striped-rows.html"
                                                                                        data-toggle=""><span>Striped Rows</span></a>
                                                                                    </li>
                                                                                    <li data-menu="">
                                                                                        <a class="dropdown-item" href="form-layout-striped-labels.html"
                                                                                        data-toggle=""><span>Striped Labels</span></a>
                                                                                    </li>
                                                                                </ul>
                                                                            </li>
                                                                            <li class="dropdown dropdown-submenu" data-menu="dropdown-submenu">
                                                                                <a class="dropdown-item dropdown-toggle" href="#" data-toggle="dropdown"><i
                                                                                    class="la la-paste"></i><span>Form Wizard</span></a>
                                                                                    <ul class="dropdown-menu">
                                                                                        <li data-menu="">
                                                                                            <a class="dropdown-item" href="form-wizard-circle-style.html"
                                                                                            data-toggle=""><span>Circle Style</span></a>
                                                                                        </li>
                                                                                        <li data-menu="">
                                                                                            <a class="dropdown-item" href="form-wizard-notification-style.html"
                                                                                            data-toggle=""><span>Notification Style</span></a>
                                                                                        </li>
                                                                                    </ul>
                                                                                </li>
                                                                                <li class="dropdown dropdown-submenu" data-menu="dropdown-submenu">
                                                                                    <a class="dropdown-item dropdown-toggle" href="#" data-toggle="dropdown"><i
                                                                                        class="la la-table"></i><span>Bootstrap Tables</span></a>
                                                                                        <ul class="dropdown-menu">
                                                                                            <li data-menu="">
                                                                                                <a class="dropdown-item" href="table-basic.html" data-toggle=""><span>Basic
                                                                                                    Tables</span></a>
                                                                                                </li>
                                                                                                <li data-menu="">
                                                                                                    <a class="dropdown-item" href="table-border.html" data-toggle=""><span>Table
                                                                                                        Border</span></a>
                                                                                                    </li>
                                                                                                    <li data-menu="">
                                                                                                        <a class="dropdown-item" href="table-sizing.html" data-toggle=""><span>Table
                                                                                                            Sizing</span></a>
                                                                                                        </li>
                                                                                                        <li data-menu="">
                                                                                                            <a class="dropdown-item" href="table-styling.html" data-toggle=""><span>Table
                                                                                                                Styling</span></a>
                                                                                                            </li>
                                                                                                            <li data-menu="">
                                                                                                                <a class="dropdown-item" href="table-components.html" data-toggle=""><span>Table
                                                                                                                    Components</span></a>
                                                                                                                </li>
                                                                                                            </ul>
                                                                                                        </li>
                                                                                                        <li class="dropdown dropdown-submenu" data-menu="dropdown-submenu">
                                                                                                            <a class="dropdown-item dropdown-toggle" href="#" data-toggle="dropdown"><i
                                                                                                                class="la la-area-chart"></i><span>Chartjs</span></a>
                                                                                                                <ul class="dropdown-menu">
                                                                                                                    <li data-menu="">
                                                                                                                        <a class="dropdown-item" href="chartjs-line-charts.html" data-toggle=""><span>Line
                                                                                                                            charts</span></a>
                                                                                                                        </li>
                                                                                                                        <li data-menu="">
                                                                                                                            <a class="dropdown-item" href="chartjs-bar-charts.html" data-toggle=""><span>Bar
                                                                                                                                charts</span></a>
                                                                                                                            </li>
                                                                                                                            <li data-menu="">
                                                                                                                                <a class="dropdown-item" href="chartjs-pie-doughnut-charts.html"
                                                                                                                                data-toggle=""><span>Pie &amp; Doughnut charts</span></a>
                                                                                                                            </li>
                                                                                                                            <li data-menu="">
                                                                                                                                <a class="dropdown-item" href="chartjs-scatter-charts.html"
                                                                                                                                data-toggle=""><span>Scatter charts</span></a>
                                                                                                                            </li>
                                                                                                                            <li data-menu="">
                                                                                                                                <a class="dropdown-item" href="chartjs-polar-radar-charts.html"
                                                                                                                                data-toggle=""><span>Polar &amp; Radar charts</span></a>
                                                                                                                            </li>
                                                                                                                            <li data-menu="">
                                                                                                                                <a class="dropdown-item" href="chartjs-advance-charts.html"
                                                                                                                                data-toggle=""><span>Advance charts</span></a>
                                                                                                                            </li>
                                                                                                                        </ul>
                                                                                                                    </li>
                                                                                                                </ul>
                                                                                                            </li>
                                                                                                        </ul>
                                                                                                    </div>
                                                                                                </div>
                                                                                            </div>