<div class="app-content content">
    <div class="content-header row">
        <div class="content-header-light col-12">
            <div class="row">
                <div class="content-header-left col-md-9 col-12 mb-2">
                    <h3 class="content-header-title">Novo Cliente</h3>
                    <div class="row breadcrumbs-top">
                        <div class="breadcrumb-wrapper col-12">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="index.html">Home</a>
                                </li>
                                <li class="breadcrumb-item"><a href="#">Form Layouts</a>
                                </li>
                                <li class="breadcrumb-item active">Basic Forms
                                </li>
                            </ol>
                        </div>
                    </div>
                </div>
            
            </div>
        </div>
    </div>
    <div class="content-wrapper">
        <div class="content-body">
            <!-- Basic form layout section start -->
            <div class="content-body">
                    <!-- Basic form layout section start -->
                 
                    <div class="row">
                    
                            <div class="card col-lg-12">
                                <div class="content-body col-lg-12 col-md-7 ">
                                    
                                    
                                    
                                    <div class="card-content collpase show">
                                                
                                                <ul class="row nav nav-tabs nav-underline">
                                                    <li class="nav-item col-sm-2">
                                                        <a class="nav-link active" id="base-tab1" data-toggle="tab" aria-controls="tab1" href="#tab1" aria-expanded="true">Dados Gerais</a>
                                                        
                                                    </li>
                                                    <li class="nav-item col-sm-2">
                                                        <a class="nav-link" id="base-tab2" data-toggle="tab" aria-controls="tab2" href="#tab2" aria-expanded="false">Contato</a>
                                                    </li>
                                                    <li class="nav-item col-sm-2">
                                                        <a class="nav-link" id="base-tab3" data-toggle="tab" aria-controls="tab3" href="#tab3" aria-expanded="false">Endereço</a>
                                                    </li>
                                                </ul>
                                                
                                                <div class="tab-content px-1 pt-1">
                                                    <div role="tabpanel" class="tab-pane active" id="tab1" aria-expanded="true" aria-labelledby="base-tab1">
                                                            
                                                                   
                                                                            <form class="form">
                                                                                    
                                                                                        <h4 class="form-section"><i class="ft-user primary"></i>Informações Pessoais</h4>
                                                                                        <div class="row">
                                                                                            <div class="col-md-2">
                                                                                                <div class="form-group">
                                                                                                    <label for="projectinput1">Nome Fantasia</label>
                                                                                                    <input type="text" id="projectinput1" class="form-control " placeholder="Primeiro Nome" name="fname">
                                                                                                </div>

                                                                                            </div>
                                                                                            <div class="col-md-2">
                                                                                                    <div class="form-group">
                                                                                                        <label for="projectinput1">Razão Social</label>
                                                                                                        <input type="text" id="projectinput1" class="form-control " placeholder="Primeiro Nome" name="fname">
                                                                                                    </div>

                                                                                                </div>
                                                                                            
                                                                                                <div class="form-group col-md-2">
                                                                                                    <label for="projectinput2">Sobrenome</label>
                                                                                                    <input type="text" id="projectinput2" class="form-control " placeholder="Sobrenome" name="lname">
                                                                                                
                                                                                                </div>
                                                                                            <div class="form-group col-sm-2">
                                                                                                    <label for="projectinput5">Tipo de Cliente</label>
                                                                                                    <select id="projectinput5" name="interested" class="form-control ">
                                                                                                        <option value="none" selected="" disabled="">Selecione</option>
                                                                                                        <option value="design">Pessoa Física</option>
                                                                                                        <option value="development">Pessoa Jurídica</option>
                                                                                                     
                                                                                                    </select>
                                                                                                </div>

                                                                                                <div class="form-group col-sm-2">
                                                                                                        <label for="projectinput5">Tipo Contribuinte</label>
                                                                                                        <select id="projectinput5" name="interested" class="form-control ">
                                                                                                            <option value="none" selected="" disabled="">Selecione</option>
                                                                                                            <option value="design">Pessoa Física</option>
                                                                                                            <option value="development">Pessoa Jurídica</option>
                                                                                                         
                                                                                                        </select>
                                                                                                </div>
                                                                                                <div class="form-group col-sm-2">
                                                                                                        <label for="projectinput5">Tipo de Cliente</label>
                                                                                                        <select id="projectinput5" name="interested" class="form-control ">
                                                                                                            <option value="none" selected="" disabled="">Selecione</option>
                                                                                                            <option value="design">Pessoa Física</option>
                                                                                                            <option value="development">Pessoa Jurídica</option>
                                                                                                         
                                                                                                        </select>
                                                                                                </div>

                                                                                                <div class="form-group col-sm-2">
                                                                                                        <label for="projectinput5">Situação</label>
                                                                                                        <select id="projectinput5" name="interested" class="form-control ">
                                                                                                            <option value="none" selected="" disabled="">Selecione</option>
                                                                                                            <option value="design">Pessoa Física</option>
                                                                                                            <option value="development">Pessoa Jurídica</option>
                                                                                                         
                                                                                                        </select>
                                                                                                    </div>

                                                                                                    <div class="col-md-2">
                                                                                                            <div class="form-group">
                                                                                                                <label for="projectinput1">CNPJ </label>
                                                                                                                <input type="text" id="projectinput1" class="form-control " placeholder="Digite seu CNPJ" name="fname">
                                                                                                            </div>

                                                                                                        </div>
                                                                                                        <div class="col-md-2">
                                                                                                                <div class="form-group">
                                                                                                                    <label for="projectinput1">Inscrição Estadual</label>
                                                                                                                    <input type="text" id="projectinput1" class="form-control " placeholder="Digite sua inscrição estadual" name="fname">
                                                                                                                </div>
    
                                                                                                            </div>
                                                                                                            <div class="col-md-2">
                                                                                                                    <div class="form-group">
                                                                                                                        <label for="projectinput1">Inscrição Municipal</label>
                                                                                                                        <input type="text" id="projectinput1" class="form-control " placeholder="Digite sua inscrição municipal" name="fname">
                                                                                                                    </div>
        
                                                                                                                </div>

                                                                                                                
                                                                                        </div>
                                                                                        <div class="row">
                                                                                                    <fieldset class="form-group form-group-style col-md-12">
                                                                                                            <label for="projectinput9">
                                                                                                                    <i class="material-icons primary">question_answer</i>  
                                                                                                                    Observações
                                                                                                                </label>
                                                                                                    <textarea id="projectinput9" rows="5" class="form-control" name="comment" placeholder="Digite sua observação"></textarea>
                                                                                                </fieldset>
                                                                                            </div>
                                                                                            <div class="row">
                                                                                                    <div class="form-group col-12 mb-2">
                                                                                                        <label>Seleciona o arquivo</label>
                                                                                                        <label id="projectinput8" class="file center-block">
                                                                                                            <input class="" type="file" id="file">
                                                                                                            <span class="file-custom"></span>
                                                                                                        </label>
                                                                                                    </div>
                                                                                                </div>
                                                                                    
                                                        
                                                                                    <div class="form-actions">
                                                                                        <button type="button" class="btn btn-warning mr-1">
                                                                                            <i class="ft-x"></i> Cancelar
                                                                                        </button>
                                                                                        <button type="submit" class="btn btn-success">
                                                                                            <i class="la la-check-square-o"></i> Salvar
                                                                                        </button>
                                                                                    </div>
                                                                                 
                                                                            </form>
                                                             
                                                    </div>
                                                    <div role="tabpanel" class="tab-pane" id="tab2" aria-expanded="true" aria-labelledby="base-tab2">
                                                            
                                                                    
                                                                            <form class="form">
                                                                                    
                                                                                        <h4 class="form-section"><i class="ft-user"></i>Cadastro Contato</h4>
                                                                                        <div class="row">
                                                                                                <div class="form-group col-sm-3">
                                                                                                    <label for="projectinput4">Telefone Celular</label> 

                                                                                                    <input type="text" class="form-control border-info" placeholder="Digite Telefone Celular" aria-describedby="basic-addon3">                                                                                                       
                                                                                                </div>

                                                                                                <div class="form-group col-sm-3">                                                                                                        
                                                                                                    <label for="projectinput4">Telefone Comercial</label>
                                                                                                    <input type="text" class="form-control border-info" placeholder="Digite Telefone Comercial" aria-describedby="basic-addon3">                                                                                                      
                                                                                                </div>
                                                                                                
                                                                                                <div class="form-group col-sm-3">
                                                                                                    <label for="projectinput4">E-mail</label>
                                                                                                    <input type="email" class="form-control border-info" placeholder="Digite seu E-Mail" aria-describedby="basic-addon3">
                                                                                                </div>
                                                                                                
                                                                                                <div class="form-group col-sm-3">
                                                                                                    <label for="projectinput4">Skype</label>
                                                                                                    <input type="text" class="form-control border-info" placeholder="Digite o Skype" aria-describedby="basic-addon3">
                                                                                                </div>
        
                                                                                                <div class="form-group col-sm-3">
                                                                                                        <label for="projectinput4">WhatsApp</label>
                                                                                                        <input type="text" class="form-control border-info" placeholder="Digite o WhatsApp" aria-describedby="basic-addon3">
                                                                                                </div>
                                                                                                
                                                                                                <div class="form-group col-sm-3">
                                                                                                        <label for="projectinput4">Cargo</label>
                                                                                                        <input type="text" class="form-control border-info" placeholder="Digite o Cargo" aria-describedby="basic-addon3"> 
                                                                                                </div>
                                                                                                
                                                                                                <div class="form-group col-sm-3">
                                                                                                    <div class="form-group">
                                                                                                        <label for="projectinput5">Abre Chamado</label>
                                                                                                        <select id="projectinput5" name="interested" class="form-control border-info">
                                                                                                            <option value="none" selected="" disabled="">Selecione</option>
                                                                                                            <option value="design">Sim</option>
                                                                                                            <option value="development">Não</option>                                                                         
                                                                                                        </select>
                                                                                                    </div>
                                                                                                </div>
        
                                                                                                <div class="form-group col-sm-3">
                                                                                                        <div class="form-group">
                                                                                                            <label for="projectinput5">Gerencia Portal</label>
                                                                                                            <select id="projectinput5" name="interested" class="form-control border-info">
                                                                                                                <option value="none" selected="" disabled="">Selecione</option>
                                                                                                                <option value="design">Libera Cadastro de Outros Usuarios</option>
                                                                                                                <option value="development">Não Tem Acesso a Funcionalidade</option>                                                                         
                                                                                                            </select>
                                                                                                        </div>
                                                                                                </div>

                                                                                                <div class="form-group col-sm-2">
                                                                                                    <div class="form-group">
                                                                                                        <label for="projectinput5">Sexo</label>
                                                                                                        <select id="projectinput5" name="interested" class="form-control border-info">
                                                                                                            <option value="none" selected="" disabled="">Selecione</option>
                                                                                                            <option value="design">Masculino</option>
                                                                                                            <option value="development">Feminino</option>                                                                         
                                                                                                        </select>
                                                                                                    </div>
                                                                                                </div>

                                                                                                <div class="form-group col-sm-2">
                                                                                                    <div class="form-group">
                                                                                                        <label for="projectinput5">Recebe Monitoramento</label>
                                                                                                        <select id="projectinput5" name="interested" class="form-control border-info">
                                                                                                            <option value="none" selected="" disabled="">Selecione</option>
                                                                                                            <option value="design">Recebe Chamado</option>
                                                                                                            <option value="development">Não Recebe Chamado</option>                                                                         
                                                                                                        </select>
                                                                                                    </div>
                                                                                                </div>

                                                                                                <div class="form-group col-sm-2">
                                                                                                        <div class="form-group">
                                                                                                            <label for="projectinput5">Recebe Nota Fiscal</label>
                                                                                                            <select id="projectinput5" name="interested" class="form-control border-info">
                                                                                                                <option value="none" selected="" disabled="">Selecione</option>
                                                                                                                <option value="design">Recebe</option>
                                                                                                                <option value="development">Não Recebe</option>                                                                         
                                                                                                            </select>
                                                                                                        </div>
                                                                                                    </div> 
                                                                                                    
                                                                                                    <div class="form-group col-sm-2">
                                                                                                            <div class="form-group">
                                                                                                                <label for="projectinput5">Contato TI</label>
                                                                                                                <select id="projectinput5" name="interested" class="form-control border-info">
                                                                                                                    <option value="none" selected="" disabled="">Selecione</option>
                                                                                                                    <option value="design">Sim</option>
                                                                                                                    <option value="development">Não</option>                                                                         
                                                                                                                </select>
                                                                                                            </div>
                                                                                                    </div>
                                                                                                
                                                                                                <div class="form-group col-sm-2"> 
                                                                                                        <div class="form-group">
                                                                                                                <label for="timesheetinput3">Data Nascimento</label>
                                                                                                                <div class="position-relative has-icon-left">
                                                                                                                    <input type="date" id="timesheetinput3" class="form-control border-info" name="date">
                                                                                                                    <div class="form-control-position">
                                                                                                                        <i class="ft-message-square"></i>
                                                                                                                    </div>
                                                                                                                </div>
                                                                                                        </div>
                                                                                                </div>
                                                                                            </div>

                                                                                        <div class="row">
                                                                                                <div class="form-group form-group-style col-md-12">
                                                                                                        <label for="projectinput9">
                                                                                                                <i class="material-icons">question_answer</i>  
                                                                                                                Observações
                                                                                                            </label>
                                                                                                    <textarea id="projectinput9" rows="5" class="form-control" name="comment" placeholder="Digite sua observação"></textarea>
                                                                                                </div>
                                                                                            </div>
                                                                                            <div class="row">
                                                                                                    <div class="form-group col-12 mb-2">
                                                                                                        <label>Seleciona o arquivo</label>
                                                                                                        <label id="projectinput8" class="file center-block">
                                                                                                            <input type="file" id="file">
                                                                                                            <span class="file-custom"></span>
                                                                                                        </label>
                                                                                                    </div>
                                                                                                </div>

                                                                                    
                                                        
                                                                                    <div class="form-actions">
                                                                                        <button type="button" class="btn btn-warning mr-1">
                                                                                            <i class="ft-x"></i> Cancelar
                                                                                        </button>
                                                                                        <button type="submit" class="btn btn-success">
                                                                                            <i class="la la-check-square-o"></i> Salvar
                                                                                        </button>
                                                                                    </div>
                                                                            </form>
                                                              
                                                    </div>
                                                    <div role="tabpanel" class="tab-pane" id="tab3" aria-expanded="true" aria-labelledby="base-tab3">
                                                                      <form class="form">
                                                                                    
                                                                                        <h4 class="form-section"><i class="ft-user"></i> Cadastro de Endereço</h4>
                                                                                        <div class="row">
                                                                                                <div class="form-group col-sm-2">
                                                                        
                                                                                                        <h5>Estado <span class="required">*</span></h5>
                                                                                                        <div class="controls">
                                                                                                            <select name="select" id="select" required="" class="form-control border-info mb-1" aria-invalid="false">
                                                                                                                <option value="">Selecione seu Estado</option>
                                                                                                                <option value="1">Acre</option>
                                                                                                                <option value="2">Alagoas</option>
                                                                                                                <option value="3">Amapá</option>
                                                                                                                <option value="4">Amazonas</option>
                                                                                                                <option value="5">Bahia</option>
                                                                                                                <option value="6">Ceará</option>
                                                                                                                <option value="7">Distrito Federal</option>
                                                                                                                <option value="8">Espírito Santo</option>
                                                                                                                <option value="9">Goiás</option>
                                                                                                                <option value="10">Maranhão</option>
                                                                                                                <option value="11">Mato Grosso</option>
                                                                                                                <option value="12">Mato Grosso Do Sul</option>
                                                                                                                <option value="13">Minas Gerais</option>
                                                                                                                <option value="14">Pará</option>
                                                                                                                <option value="15">Paraíba</option>
                                                                                                                <option value="16">Pernambuco</option>
                                                                                                                <option value="17">Piauí</option>
                                                                                                                <option value="18">Rio de Janeiro</option>
                                                                                                                <option value="19">Rio Grande do Norte</option>
                                                                                                                <option value="20">Rio Grande do Sul</option>
                                                                                                                <option value="21">Rondônia</option>
                                                                                                                <option value="22">Roraima</option>
                                                                                                                <option value="23">Santa Catarina</option>
                                                                                                                <option value="24">São Paulo</option>
                                                                                                                <option value="25">Sergipe</option>
                                                                                                                <option value="26">Tocantins</option>                                                                                                   </select>
                                                                                                    
                                                                                                    </div>
                                                                                                    </div>
                                                                                            <div class="col-md-2">
                                                                                                <div class="form-group">
                                                                                                    <label for="projectinput1">  Endereço</label>
                                                                                                    <input type="text" id="projectinput1" class="form-control border-info" placeholder="Primeiro Nome" name="fname">                                                                                                      
                                                                                                </div>
                                                                                            </div>

                                                                                            <div class="col-md-2">
                                                                                                    <div class="form-group">
                                                                                                        <label for="projectinput1">Número</label>
                                                                                                        <input type="text" id="projectinput1" class="form-control border-info" placeholder="Digite o número" name="fname">
                                                                                                    </div>
                                                                                            </div>

                                                                                            <div class="col-md-2">
                                                                                                <div class="form-group">
                                                                                                    <label for="projectinput2">Cep</label>
                                                                                                    <input type="text" id="projectinput2" class="form-control border-info" placeholder="Digite seu CEP" name="lname">
                                                                                                </div>
                                                                                            </div>

                                                                                            <div class="col-md-2">
                                                                                                    <div class="form-group">
                                                                                                        <label for="projectinput2">Bairro</label>
                                                                                                        <input type="text" id="projectinput2" class="form-control border-info" placeholder="Digite sua Cidade" name="lname">
                                                                                                    </div>
                                                                                            </div> 

                                                                                            <div class="col-md-2">
                                                                                                    <div class="form-group">
                                                                                                        <label for="projectinput2">Cidade</label>
                                                                                                        <input type="text" id="projectinput2" class="form-control border-info" placeholder="Digite sua Cidade" name="lname">
                                                                                                    </div>
                                                                                            </div> 
                                                                                                                 
                                                                                        </div>
                                                                                        <div class="row">
                                                                                                <div class="form-group form-group-style col-md-12">
                                                                                                        <label for="projectinput9">
                                                                                                                <i class="material-icons">question_answer</i>  
                                                                                                                Observações
                                                                                                            </label>
                                                                                                    <textarea id="projectinput9" rows="5" class="form-control" name="comment" placeholder="Digite sua observação"></textarea>
                                                                                                </div>
                                                                                        </div>

                                                                                        <div class="row">
                                                                                            <div class="form-group col-12 mb-2">
                                                                                                 <label>Seleciona o arquivo</label>
                                                                                                <label id="projectinput8" class="file center-block">
                                                                                                     <input type="file" id="file">
                                                                                                    <span class="file-custom"></span>
                                                                                                </label>
                                                                                            </div>
                                                                                        </div>
                                                                                    
                                                        
                                                                                    <div class="form-actions">
                                                                                        <button type="button" class="btn btn-warning mr-1">
                                                                                            <i class="ft-x"></i> Cancelar
                                                                                        </button>
                                                                                        <button type="submit" class="btn btn-success">
                                                                                            <i class="la la-check-square-o"></i> Salvar
                                                                                        </button>
                                                                                    </div>
                                                                            </form>
                                                                  
                                                            
                                                    </div>
                                                </div>
                                                
                                            
                                            
                                        </div>
                                    </div>
                                </div>
                                
                            </div>
                    <!-- // Basic form layout section end -->
                </div>
            <!-- // Basic form layout section end -->
        </div>
    </div>
</div>