<div class="app-content content">
    <div class="content-header row">
        <div class="content-header-light col-12">
            <div class="row">
                <div class="content-header-left col-md-9 col-12 mb-2">
                    <h3 class="content-header-title">Filtro de Pesquisa</h3>
                    <div class="row breadcrumbs-top">
                        <div class="breadcrumb-wrapper col-12">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="index.html">Home</a>
                                </li>
                                <li class="breadcrumb-item"><a href="#">Form Layouts</a>
                                </li>
                                <li class="breadcrumb-item active">Basic Forms
                                </li>
                            </ol>
                        </div>
                    </div>
                </div>
            
            </div>
        </div>
    </div>
  
  <div class="content-wrapper">
     <div class="content-body">
            <!-- Basic form layout section start -->
            <div class= "row">
                <div class="card col-lg-12">
                    
                        <div class="content-body">
                         
                              
                              <div class="content-body"><section id="pagination">
                                <div class="row">
                                  <div class="col-12">
                                    <div class="card">
                                      <div class="card-header">
                                          <section id="knowledge-search">
                                              <div class="row form-section mt-1">
                                                <div class="col-12 ">
                                                  <div class="card ">
                                                    <div class="card-header ml-2 mt-1 mb-1 p-0">
                                                      <h3 class="my-0 text-left">
                                                        Filtro de Pesquisa
                                                      </h3>                    
                                                      
                                                    </div>
                                                    
                                                    <div class="card-body col-12 p-0 mb-1">
                                                      
                                                      <div class="row mx-1 ">
                                                        <div class="form-group  col-md-2">
    
                                                          
                                                          <div class="form-group">
                                                            <label for="issueinput4">Data Inicial</label>
                                                           
                                                            <input type="date" id="issueinput4" class="form-control" name="datefixed" data-toggle="tooltip" data-trigger="hover" data-placement="top" data-title="Date Fixed" data-original-title="" title="">
                                                           
                                                          </div>
                                                        </div>
                                                        <div class="form-group col-md-2">
                                                          <div class="form-group">
                                                            <label for="issueinput4">Data Final</label>
                                                            <input type="date" id="issueinput4" class="form-control" name="datefixed" data-toggle="tooltip" data-trigger="hover" data-placement="top" data-title="Date Fixed" data-original-title="" title="">
                                                           
                                                          </div>
                                                        </div>
                                                        <div class="form-group col-md-2">
                                                          <label for="issueinput2">N°. Chamado</label>
                                                          <input type="text" id="issueinput2" class="form-control" placeholder="Digite o Chamado" name="openedby" data-toggle="tooltip" data-trigger="hover" data-placement="top" data-title="numero chamado" data-original-title="" title="">
                                                        </div>
                                                        <div class="form-group col-md-3">
                                                          <label for="issueinput2">Solicitante</label>
                                                          <input type="text" id="issueinput2" class="form-control" placeholder="Solicitante" name="openedby" data-toggle="tooltip" data-trigger="hover" data-placement="top" data-title="Opened By" data-original-title="" title="">
                                                        </div>
                                                        <div class="form-group col-md-3">
                                                          <label for="issueinput2">Pesquisa por termo</label>
                                                          <input type="text" id="issueinput2" class="form-control" placeholder="Digite uma Palavra Chave" name="openedby" data-toggle="tooltip" data-trigger="hover" data-placement="top" data-title="Opened By" data-original-title="" title="">
                                                        </div>
                                                        
                                                        
                                                      </div>                                                      
                                                      
                                                    </div>
                                                    <div class="row mx-1">
                                                      <div class="form-actions-group left my-0 m-1">                            
                                                        <button type="button" class="btn btn-warning bg-lighten-1 btn-min-width"><i class="la la-remove"></i> Cancelar</button>                          
                                                        <button type="button" class="btn btn-success bg-darken-4 btn-min-width"><i class="ft-search"></i>  Pesquisar</button>             
                                                      </div>
                                                    </div>                                              
                                                    
                                                  </div>
                                                  
                                                  
                                                </div>
                                                
                                              </div>
                                            </section>
                                        <h1 class="card-title">Resultado da Pesquisa</h1>
                                        
                                      </div>
                                      <div class="card-body">
                                        <div class="table-responsive">
                                          <div id="DataTables_Table_0_wrapper" class="dataTables_wrapper dt-bootstrap4 no-footer">
                                            <div class="row cd-md-2">
                                              <div class="col-sm-6 col-md-1">
                                                <div class="dataTables_length" id="DataTables_Table_0_length">
                                                  
                                                  <label>Mostrar<select name="DataTables_Table_0_length" aria-controls="DataTables_Table_0" class="custom-select custom-select-sm form-control form-control-sm">
                                                    <option value="10">10</option>
                                                    <option value="25">25</option>
                                                    <option value="50">50</option>
                                                    <option value="100">100</option>
                                                  </select> Entre</label>
                                                  
                                                </div>
                                              </div>
                                              
                                                                                                        
                                                <div class="row col-9">
                                                 
                                                  <div class="content">  
                                                    <div class="card-body">
                                                      <fieldset>

                                                          <div class="d-inline-block custom-control custom-checkbox mr-1">
                                                              <input type="checkbox" class="custom-control-input bg-primary" name="colorCheck" id="colorCheck1">
                                                              <label class="custom-control-label" for="colorCheck1">Todos</label>
                                                            </div>
                                                    
                                                            <div class="d-inline-block custom-control custom-checkbox mr-1">
                                                                <input type="checkbox" class="custom-control-input bg-success" name="colorCheck" id="colorCheck2" checked="">
                                                                <label class="custom-control-label" for="colorCheck2">Concluidos</label>
                                                              </div>        
                                                              <div class="d-inline-block custom-control custom-checkbox mr-1">
                                                                  <input type="checkbox" class="custom-control-input bg-info" name="colorCheck" id="colorCheck5">
                                                                  <label class="custom-control-label" for="colorCheck5">Processando</label>
                                                                </div>                                          
                                                      
                                                              <div class="d-inline-block custom-control custom-checkbox mr-1">
                                                                  <input type="checkbox" class="custom-control-input bg-danger" name="colorCheck" id="colorCheck3">
                                                                  <label class="custom-control-label" for="colorCheck3">Aguardando</label>
                                                                </div>

                                                                
                                                              <div class="d-inline-block custom-control custom-checkbox mr-1">
                                                                  <input type="checkbox" class="custom-control-input bg-warning" name="colorCheck" id="colorCheck4">
                                                                  <label class="custom-control-label" for="colorCheck4">Aberto</label>
                                                                </div>
                                                                
                                                                  <div class="d-inline-block custom-control custom-checkbox mr-1">
                                                                      <input type="checkbox" class="custom-control-input bg-cyan" name="colorCheck" id="colorCheck6">
                                                                      <label class="custom-control-label" for="colorCheck6">Monitorando</label>
                                                                    </div>
                                                                    <div class="d-inline-block custom-control custom-checkbox mr-1">
                                                                        <input type="checkbox" class="custom-control-input bg-blue-grey" name="colorCheck" id="colorCheck7">
                                                                        <label class="custom-control-label" for="colorCheck7">BRUNSKER</label>
                                                                      </div>
                                                               
                                                    </fieldset>
                                                    </div>
                                                    
                                                  </div>
                                                  </div>
                                               
                                              
                                              <div class="form-actions-group col-md-2">                            
                                                
                                                <a routerLink="/ordemservico"><button type="button" class="btn btn-blue bg-accent-4 btn-min-width float-right"><i class="ft-user-plus"> </i>Novo Chamado</button> </a>             
                                              </div>
                                            </div>
                                            <div class="row">
                                              <div class="col-sm-12">
                                                <table class="table table-white-space table-bordered row-grouping display no-wrap icheck table-middle dataTable" id="DataTables_Table_0" role="grid" aria-describedby="project-bugs-list_info" style="position: relative;">
                                                  <thead class="bg-blue-grey bg-darken-1 white">
                                                    <tr role="row">       
                                                      <th class="sorting_asc" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-sort="ascending" aria-label="Name: activate to sort column descending" style="width: 271px;">Name</th>
                                                      <th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-label="Email: activate to sort column ascending" style="width: 565px;">Chamado</th>
                                                      <th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-label="Last Login: activate to sort column ascending" style="width: 320px;">Resumo</th>
                                                      <th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-label="Last Login: activate to sort column ascending" style="width: 320px;">Tipo de Chamado</th>
                                                      <th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-label="Last Login: activate to sort column ascending" style="width: 320px;">Solicitante</th>
                                                      <th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-label="Last Login: activate to sort column ascending" style="width: 320px;">Descrição</th>
                                                      <th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-label="Last Login: activate to sort column ascending" style="width: 320px;">Previsão de Chamado</th>
                                                      <th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-label="Tickets: activate to sort column ascending" style="width: 170px;">Tickets</th>
                                                      <th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-label="Options: activate to sort column ascending" style="width: 183px;">Options</th>
                                                    </tr>
                                                  </thead>
                                                  <tbody>
                                                    <tr role="row" class="odd">
                                                      <td class="align-middle sorting_1">
                                                        <div class="name">Angelina David</div>
                                                      </td>
                                                      <td class="align-middle">
                                                        <div class="email"><i class="la la-tag"></i>522536</div>
                                                      </td>
                                                      <td class="align-middle">
                                                        <div class="last-login"><i class="la la-history"></i>10 minutes ago</div>
                                                        </td><td class="align-middle">
                                                          <div class="last-login"><i class="la la-history"></i>10 minutes ago</div>
                                                        </td>
                                                        <td class="align-middle">
                                                          <div class="last-login"></div>
                                                        </td>
                                                        <td class="align-middle">
                                                          <div class="last-login"></div>
                                                        </td>
                                                        <td class="align-middle">
                                                          <div class="last-login"><i class="la la-history"></i>10 minutes ago</div>
                                                        </td>
                                                      
                                                      <td class="align-middle">
                                                        <div class="tickets"><i class="la la-tag"></i>2</div>
                                                      </td>
                                                      <td class="align-middle">
                                                        <div class="option">
                                                          <a href="#"><i class="la la-pencil-square success"></i></a>
                                                          <a href="#"><i class="la la-trash danger"></i></a>
                                                        </div>
                                                      </td>
                                                    </tr>
                                                    <tr role="row" class="even">
                                                      <td class="align-middle sorting_1">
                                                        <div class="name">Black Smith</div>
                                                      </td>
                                                      <td class="align-middle">
                                                        <div class="email"><i class="la la-envelope"></i>smith@yahoomail.com</div>
                                                      </td>
                                                      <td class="align-middle">
                                                        <div class="last-login"><i class="la la-history"></i>10 minutes ago</div>
                                                      </td>
                                                      <td class="align-middle">
                                                        <div class="last-login"></div>
                                                      </td>
                                                      <td class="align-middle">
                                                        <div class="last-login"></div>
                                                      </td>
                                                      <td class="align-middle">
                                                        <div class="last-login"><i class="la la-history"></i>10 minutes ago</div>
                                                      </td>
                                                      <td class="align-middle">
                                                        <div class="last-login"><i class="la la-history"></i>10 minutes ago</div>
                                                      </td>
                                                      <td class="align-middle">
                                                        <div class="tickets"><i class="la la-tag"></i>3</div>
                                                      </td>
                                                      <td class="align-middle">
                                                        <div class="option">
                                                          <a href="#"><i class="la la-pencil-square success"></i></a>
                                                          <a href="#"><i class="la la-trash danger"></i></a>
                                                        </div>
                                                      </td>
                                                    </tr>
                                                    <tr role="row" class="odd">
                                                      <td class="align-middle sorting_1">
                                                        <div class="name">Colin Welch</div>
                                                      </td>
                                                      <td class="align-middle">
                                                        <div class="email"><i class="la la-envelope"></i>colin_welch@asana.com</div>
                                                      </td>
                                                      <td class="align-middle">
                                                        <div class="last-login"><i class="la la-history"></i>1 Day ago
                                                        </div>
                                                      </td>
                                                      <td class="align-middle">
                                                        <div class="last-login"></div>
                                                      </td>
                                                      <td class="align-middle">
                                                        <div class="last-login"></div>
                                                      </td>
                                                      <td class="align-middle">
                                                        <div class="last-login"><i class="la la-history"></i>10 minutes ago</div>
                                                      </td>
                                                      <td class="align-middle">
                                                        <div class="last-login"><i class="la la-history"></i>10 minutes ago</div>
                                                      </td>
                                                      <td class="align-middle">
                                                        <div class="tickets"><i class="la la-tag"></i>12</div>
                                                      </td>
                                                      
                                                      <td class="align-middle">
                                                        <div class="option">
                                                          <a href="#"><i class="la la-pencil-square success"></i></a>
                                                          <a href="#"><i class="la la-trash danger"></i></a>
                                                        </div>
                                                      </td>
                                                    </tr><tr role="row" class="even">
                                                      <td class="align-middle sorting_1">
                                                        <div class="name">George Nelson</div>
                                                      </td>
                                                      <td class="align-middle">
                                                        <div class="email"><i class="la la-envelope"></i>george_nelson@gmail.com</div>
                                                      </td>
                                                      <td class="align-middle">
                                                        <div class="last-login"><i class="la la-history"></i>30 minutes ago</div>
                                                      </td>
                                                      <td class="align-middle">
                                                        <div class="last-login"></div>
                                                      </td>
                                                      <td class="align-middle">
                                                        <div class="last-login"></div>
                                                      </td>
                                                      <td class="align-middle">
                                                        <div class="last-login"><i class="la la-history"></i>10 minutes ago</div>
                                                      </td>
                                                      <td class="align-middle">
                                                        <div class="last-login"><i class="la la-history"></i>10 minutes ago</div>
                                                      </td>
                                                      <td class="align-middle">
                                                        <div class="tickets"><i class="la la-tag"></i>1</div>
                                                      </td>
                                                      <td class="align-middle">
                                                        <div class="option">
                                                          <a href="#"><i class="la la-pencil-square success"></i></a>
                                                          <a href="#"><i class="la la-trash danger"></i></a>
                                                        </div>
                                                      </td>
                                                    </tr><tr role="row" class="odd">
                                                      <td class="align-middle sorting_1">
                                                        <div class="name">Jane Andre</div>
                                                      </td>
                                                      <td class="align-middle">
                                                        <div class="email"><i class="la la-envelope"></i>jane.andre@gmail.com</div>
                                                      </td>
                                                      <td class="align-middle">
                                                        <div class="last-login"></div>
                                                      </td>
                                                      <td class="align-middle">
                                                        <div class="last-login"></div>
                                                      </td>
                                                      <td class="align-middle">
                                                        <div class="last-login"><i class="la la-history"></i>
                                                          46 minutes ago </div>
                                                        </td>
                                                        <td class="align-middle">
                                                          <div class="last-login"><i class="la la-history"></i>
                                                            46 minutes ago </div>
                                                          </td>
                                                          <td class="align-middle">
                                                            <div class="last-login"><i class="la la-history"></i>
                                                              46 minutes ago </div>
                                                            </td>
                                                            <td class="align-middle">
                                                              <div class="tickets"><i class="la la-tag"></i>3</div>
                                                            </td>
                                                            <td class="align-middle">
                                                              <div class="option">
                                                                <a href="#"><i class="la la-pencil-square success"></i></a>
                                                                <a href="#"><i class="la la-trash danger"></i></a>
                                                              </div>
                                                            </td>
                                                          </tr><tr role="row" class="even">
                                                            <td class="align-middle sorting_1">
                                                              <div class="name">John Anderson</div>
                                                            </td>
                                                            <td class="align-middle">
                                                              <div class="email"><i class="la la-envelope"></i>john123@yahoomail.com</div>
                                                            </td>
                                                            <td class="align-middle">
                                                              <div class="last-login"><i class="la la-history"></i>50 minutes ago</div>
                                                            </td>
                                                            <td class="align-middle">
                                                              <div class="last-login"></div>
                                                            </td>
                                                            <td class="align-middle">
                                                              <div class="last-login"></div>
                                                            </td>
                                                            <td class="align-middle">
                                                              <div class="last-login"><i class="la la-history"></i>50 minutes ago</div>
                                                            </td>
                                                            <td class="align-middle">
                                                              <div class="last-login"><i class="la la-history"></i>50 minutes ago</div>
                                                            </td>
                                                            <td class="align-middle">
                                                              <div class="tickets"><i class="la la-tag"></i>10</div>
                                                            </td>
                                                            <td class="align-middle">
                                                              <div class="option">
                                                                <a href="#"><i class="la la-pencil-square success"></i></a>
                                                                <a href="#"><i class="la la-trash danger"></i></a>
                                                              </div>
                                                            </td>
                                                          </tr><tr role="row" class="odd">
                                                            <td class="align-middle sorting_1">
                                                              <div class="name">Jones smith</div>
                                                            </td>
                                                            <td class="align-middle">
                                                              <div class="email"><i class="la la-envelope"></i>smith143@asana.com</div>
                                                            </td>
                                                            <td class="align-middle">
                                                              <div class="last-login"><i class="la la-history"></i>23 minutes ago</div>
                                                            </td>
                                                            <td class="align-middle">
                                                              <div class="last-login"></div>
                                                            </td>
                                                            <td class="align-middle">
                                                              <div class="last-login"></div>
                                                            </td>
                                                            <td class="align-middle">
                                                              <div class="last-login"><i class="la la-history"></i>23 minutes ago</div>
                                                            </td>
                                                            <td class="align-middle">
                                                              <div class="last-login"><i class="la la-history"></i>23 minutes ago</div>
                                                            </td>
                                                            <td class="align-middle">
                                                              <div class="tickets"><i class="la la-tag"></i>2</div>
                                                            </td>
                                                            <td class="align-middle">
                                                              <div class="option">
                                                                <a href="#"><i class="la la-pencil-square success"></i></a>
                                                                <a href="#"><i class="la la-trash danger"></i></a>
                                                              </div>
                                                            </td>
                                                          </tr><tr role="row" class="even">
                                                            <td class="align-middle sorting_1">
                                                              <div class="name">Kail Reack</div>
                                                            </td>
                                                            <td class="align-middle">
                                                              <div class="email"><i class="la la-envelope"></i>kail.reack@gmail.com</div>
                                                            </td>
                                                            <td class="align-middle">
                                                              <div class="last-login"><i class="la la-history"></i>15 minutes ago</div>
                                                            </td>
                                                            <td class="align-middle">
                                                              <div class="last-login"></div>
                                                            </td>
                                                            <td class="align-middle">
                                                              <div class="last-login"></div>
                                                            </td>
                                                            <td class="align-middle">
                                                              <div class="last-login"><i class="la la-history"></i>15 minutes ago</div>
                                                            </td>
                                                            <td class="align-middle">
                                                              <div class="last-login"><i class="la la-history"></i>15 minutes ago</div>
                                                            </td>
                                                            <td class="align-middle">
                                                              <div class="tickets"><i class="la la-tag"></i>5</div>
                                                            </td>
                                                            <td class="align-middle">
                                                              <div class="option">
                                                                <a href="#"><i class="la la-pencil-square success"></i></a>
                                                                <a href="#"><i class="la la-trash danger"></i></a>
                                                              </div>
                                                            </td>
                                                          </tr><tr role="row" class="odd">
                                                            <td class="align-middle sorting_1">
                                                              <div class="name">Mark Luis</div>
                                                            </td>
                                                            <td class="align-middle">
                                                              <div class="email"><i class="la la-envelope"></i>mark_041983@outlook.com</div>
                                                            </td>
                                                            <td class="align-middle">
                                                              <div class="last-login"><i class="la la-history"></i>17 minutes ago</div>
                                                            </td>
                                                            <td class="align-middle">
                                                              <div class="last-login"><i class="la la-history"></i>17 minutes ago</div>
                                                            </td>
                                                            <td class="align-middle">
                                                              <div class="last-login"></div>
                                                            </td>
                                                            <td class="align-middle">
                                                              <div class="last-login"></div>
                                                            </td>
                                                            <td class="align-middle">
                                                              <div class="last-login"><i class="la la-history"></i>17 minutes ago</div>
                                                            </td>
                                                            <td class="align-middle">
                                                              <div class="tickets"><i class="la la-tag"></i>6</div>
                                                            </td>
                                                            <td class="align-middle">
                                                              <div class="option">
                                                                <a href="#"><i class="la la-pencil-square success"></i></a>
                                                                <a href="#"><i class="la la-trash danger"></i></a>
                                                              </div>
                                                            </td>
                                                          </tr><tr role="row" class="even">
                                                            <td class="align-middle sorting_1">
                                                              <div class="name">Mark Shawn</div>
                                                            </td>
                                                            <td class="align-middle">
                                                              <div class="email"><i class="la la-envelope"></i>mark1991@gmail.com</div>
                                                            </td>
                                                            <td class="align-middle">
                                                              <div class="last-login"><i class="la la-history"></i>2 minutes ago</div>
                                                            </td>
                                                            <td class="align-middle">
                                                              <div class="last-login"></div>
                                                            </td>
                                                            <td class="align-middle">
                                                              <div class="last-login"></div>
                                                            </td>
                                                            <td class="align-middle">
                                                              <div class="last-login"><i class="la la-history"></i>2 minutes ago</div>
                                                            </td>
                                                            <td class="align-middle">
                                                              <div class="last-login"><i class="la la-history"></i>2 minutes ago</div>
                                                            </td>
                                                            <td class="align-middle">
                                                              <div class="tickets"><i class="la la-tag"></i>6</div>
                                                            </td>
                                                            <td class="align-middle">
                                                              <div class="option">
                                                                <a href="#"><i class="la la-pencil-square success"></i></a>
                                                                <a href="#"><i class="la la-trash danger"></i></a>
                                                              </div>
                                                            </td>
                                                          </tr></tbody>
                                                        </table>
                                                      </div>
                                                    </div>
                                                    <div class="row">
                                                      <div class="col-sm-12 col-md-5">
                                                        <div class="dataTables_info" id="DataTables_Table_0_info" role="status" aria-live="polite">Showing 1 to 10 of 13 entries</div>
                                                      </div>
                                                      <div class="col-sm-12 col-md-7">
                                                        <div class="dataTables_paginate paging_full_numbers" id="DataTables_Table_0_paginate">
                                                          <ul class="pagination">
                                                            <li class="paginate_button page-item first disabled" id="DataTables_Table_0_first">
                                                              <a href="#" aria-controls="DataTables_Table_0" data-dt-idx="0" tabindex="0" class="page-link">Primeira</a>
                                                          </li>
                                                          <li class="paginate_button page-item previous disabled" id="DataTables_Table_0_previous">
                                                            <a href="#" aria-controls="DataTables_Table_0" data-dt-idx="1" tabindex="0" class="page-link">Anterior</a></li><li class="paginate_button page-item active">
                                                              <a href="#" aria-controls="DataTables_Table_0" data-dt-idx="2" tabindex="0" class="page-link">1</a>
                                                            </li>
                                                            <li class="paginate_button page-item ">
                                                              <a href="#" aria-controls="DataTables_Table_0" data-dt-idx="3" tabindex="0" class="page-link">2</a>
                                                            </li>
                                                            <li class="paginate_button page-item next" id="DataTables_Table_0_next">
                                                              <a href="#" aria-controls="DataTables_Table_0" data-dt-idx="4" tabindex="0" class="page-link">Proxima</a>
                                                            </li>
                                                            <li class="paginate_button page-item last" id="DataTables_Table_0_last">
                                                              <a href="#" aria-controls="DataTables_Table_0" data-dt-idx="5" tabindex="0" class="page-link">Ultima</a>
                                                            </li>
                                                          </ul>
                                                        </div>
                                                      </div>
                                                    </div>
                                                  </div>
                                                      </div>
                                                    </div>
                                                  </div>
                                                </div>
                                              </div>
                                            </section>
                                          </div>
                                          
                       </div>
                </div>
            </div>
            <!-- // Basic form layout section end -->
        </div>
    </div>
</div>